@charset "UTF-8";

body {
    padding:0px;
    margin:0px;
}

.menu ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
    font:100% Sans-serif;
    font-size: 16pt;
}

.menu ul li { display: inline; }

.menu ul li a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:0px solid #EDEDED;
    padding: 10px 30px;
    float:left;
}

.menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
}

.cabecario {
    background-image: url(topo-paginas-matematica.png);
    height: 250pt;
    width: small;
    position: relative;
    margin: -25pt 0pt 0pt 0pt;
    padding-top: 0pt;
}

.titulo-cabecario {
    font-size: 30pt;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 70pt;
    padding-left: 0pt;
}
.sub-titulo-cabecario {
    font-size: 25pt;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    text-align: center;
    padding-top: 280pt;
    padding-left: 10pt;
}

/*Destaques do Site*/
.destaque1 {
    background-color: white;
    width: small;
    font-size: 14pt;
    margin-bottom: -10pt;
}

.destaque2 {
    background-color: #6D6D6D;
    width: small;
    font-size: 14pt;
    margin-bottom: -20pt;
}

/*Rodapé*/
.rodape {
    background-image: url(rodape.jpg);
    height: 300pt;
    width: small;
    position: relative;
    margin: 0pt 0pt -20pt 0pt;
}
.titulo-rodape {
    font-family: monospace;
    font-size: 25pt;
    color: azure;
    text-align: center;
    font-style: normal;
    padding-top: 110pt;
    margin-bottom: -20pt;
}

.texto-rodape {
    font-family: monospace;
    font-size: 16pt;
    color: azure;
    text-align: center;
    font-style: italic;
    padding-top: 25pt;    
}

/*Barra inferior*/
.barra-inferior {
    background-color: dimgrey;
    height: 30pt;
    width: small;
    position: relative;
    margin: 0pt;
    padding-bottom: -100pt;
}

.texto-barra-inferior {
    font-family: monospace;
    font-size: 12pt;
    color: rgb(196, 196, 196);
    text-align: center;
    font-style: normal;
    padding-top: 8pt;
    margin-bottom: -20pt;
}

/*páginas*/